.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  height: auto;
  background-color: lightgoldenrodyellow;
  text-align: center;
  color: black;
  font-size: 5rem;
  padding: 1% 0;
}

.page-container {
  display: flex;
  flex-direction: column;
  gap: 1rem 0;
  padding: 6% 10%;
}

.card-container {
  margin: 2%;
}

.cards-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}
